{% extends "base.html" %}

{% block log %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'administration:admin_dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'administration:admin_logout' %}">Logout</a>
        </li>
    </ul>
</div>
{% endblock log %}

{% block content %}
<h2>Register a New Lecturer</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Register Lecturer</button>
</form>

{% endblock %}